<header>
  <nav>
    <a> Help Me</a> 
    <a href="/"> Accueil</a>
    <% if (session && session.user) { %>
      <p>Connecté en tant que <%= session.user.name %> (<%= session.user.role %>)</p>
      <a href="/login/logout">Se déconnecter</a>
      <a href="/ticket/create"> Creer Un ticket</a>
    <% } else { %>
      <a href="/login"> Se connecter</a>
      
    <% } %>
  </nav>
</header>
