<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Page non trouvée</title>
</head>
<body>
  <h1>404 - Page non trouvée</h1>
  <p>L'univers est vaste, trop vaste. La ressource demandée n'a pas été trouvée</p>
  <a href="/">Retour à l'accueil</a>
</body>
</html>
