<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title>Login</title>
	</head>
	<body>
		<div class="login">
			<h1>Login</h1>
	<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Nom d'utilisateur" required />
  <input type="password" name="password" placeholder="Mot de passe" required />
  <button type="submit">Se connecter</button>
</form>


		</div>
	</body>
</html>